:root {
  --color-light: #FFFAF6;
  --color-dark: #454545;
  --color-1: #7690A8;
  --color-2: #8B9170;
  --color-3: #F5E7E7;
  --color-4: #EAC7C7;
  --color-5: #C07E7E;
  --color-error: #d91515;

  --font-heading: 'Petit Formal Script';
  --font-body: 'Karla';

  --weight-normal: 450;
  --weight-bold: 600;

  --size-heading: 32px;
  --size-normal: 16px;
  --size-small: 12px;
}

body {
  margin: 0;

  background-color: var(--color-light);
}

a {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

input {
  all: unset;
}

textarea {
  all: unset;
}

button {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px 50px;

  background-color: var(--color-1);

  .logo {
    height: 30px;

    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 25px;

    font-family: var(--font-body);
    font-weight: var(--weight-normal);
    color: var(--color-light);
    font-size: var(--size-normal);

    .tab {
      display: inline-block;
      position: relative;

      line-height: 2;
    }

    .tab::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--color-light);

      transform: scaleX(0);
      transition: transform 0.3s ease-out;
      transform-origin: bottom center;
    }

    .tab:hover::after {
      transform: scaleX(1);
    }

    .tab.active::after {
        transform: scaleX(1);
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px 50px;

  background-color: var(--color-1);

  font-family: var(--font-body);
  font-weight: var(--weight-normal);
  color: var(--color-light);
  font-size: var(--size-normal);

  .logo-container {
    flex: 1;

    display: flex;
    justify-content: left;

    .logo {
      height: 30px;

      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .socials {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 25px;

    .icon {
      color: var(--color-light);
      font-size: 25px;

      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.page {
  min-height: calc(100vh - 164px);
  display: flex;
  flex-direction: column;

  .pattern-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
    
    border: 2px solid var(--color-4);

    background-image: url(./assets/wallpaper.png);
    background-size: cover;
  }

  .text-box {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    gap: 25px;
    padding: 25px 50px;

    border: 2px solid var(--color-4);
    background-color: var(--color-light);
  }

  .more {
    display: flex;
    align-items: center;
    gap: 15px;

    font-family: var(--font-body);
    font-weight: var(--weight-normal);
    font-size: var(--size-normal);

    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  .heading {
    font-family: var(--font-heading);
    font-size: var(--size-heading);
  }

  .subtitle {
    font-family: var(--font-body);
    font-weight: var(--weight-bold);
    font-size: var(--size-normal);
  }

  .body {
    font-family: var(--font-body);
    font-weight: var(--weight-normal);
    color: var(--color-dark);
    font-size: var(--size-normal);
  }

  .all-projects {
    color: var(--color-2);
  }
}

.header {
  display: flex;
  flex-direction: row;

  color: var(--color-1);

  .side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    gap: 50px;
  }

  .img {
    max-width: 100%;
    max-height: 400px;
  }

  .logo {
    width: 50px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .center-align {
    text-align: center;
  }

  .left-align {
    text-align: left;
  }
}

.marquee {
  width: 100%;
  
  display: flex;
  padding: 10px 0;

  background-color: var(--color-2);

  .word {
    display: flex;
    align-items: center;
    padding-right: 25px;
    gap: 25px;

    font-family: var(--font-body);
    font-weight: var(--weight-normal);
    color: var(--color-light);
    font-size: var(--size-small);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 50px 100px;
  gap: 50px;

  color: var(--color-2);

  text-align: center;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 25px;
    row-gap: 25px;
  }

  @media screen and (max-width: 1000px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card {
    position: relative;
    overflow: hidden;

    border-radius: 10px;
    border: 1px solid var(--color-2);

    .img {
      max-width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      container-type: inline-size;

      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-2);

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 100px;
        gap: 25px;

        font-family: var(--font-body);
        font-weight: var(--weight-normal);
        font-size: var(--size-normal);
        color: var(--color-light);
        text-align: center;
      }

      @container (max-width: 350px) {
        .content {
          padding: 25px 50px;
        }
      }
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  text-align: center;
  color: var(--color-5);

  .img {
    max-width: 300px;
    padding-right: 100px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;

  color: var(--color-1);

  .about-me {
    display: flex;
    flex-direction: row;
    gap: 50px;

    .side {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 25px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  .technologies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 25px;
    row-gap: 25px;

    .technology {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .icon {
        height: 25px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 10px;

      border-radius: 10px;
      background-color: var(--color-3);

      .upper {
        color: var(--color-5);
      }

      .lower {
        display: flex;
        justify-content: space-between;

        .left {
          flex: 1;
        }

        .right {
          flex: 1;
          text-align: right;
        }
      }

      .detail {
        margin-top: -10px;
        font-style: italic;
      }
    }
  }
}

.contact {
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;

    gap: 25px;
    padding: 25px 50px;

    border: 2px solid var(--color-4);
    background-color: var(--color-light);

    color: var(--color-5);

    .prompt {
      padding-bottom: 10px;

      border-bottom: 1px solid var(--color-5);
    }

    .contact-info {
      display: flex;
      gap: 25px;

      .side {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
      }

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .item {
          display: flex;
          align-items: center;
          gap: 15px;

          .icon {
            color: var(--color-5);
          }
        }
      }
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .input-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .input {
      display: flex;
      padding: 10px;

      border-radius: 5px;
      border: 1px solid var(--color-5);

      transition: all 0.3s ease;

      &:focus {
        box-shadow: 0 0 5px var(--color-5);
      }
    }

    .message {
      flex: 1;
    }

    .error {
      font-family: var(--font-body);
      font-weight: var(--weight-normal);
      color: var(--color-error);
      font-size: var(--size-small);
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid var(--color-5);

    background-color: var(--color-3);

    color: var(--color-5);

    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 5px var(--color-4);
    }
  }
}