:root {
  --color-light: #FFFAF6;
  --color-dark: #454545;
  --color-1: #7690A8;
  --color-2: #8B9170;
  --color-3: #EAC7C7;
  --color-4: #C07E7E;

  --font-heading: 'Petit Formal Sans', cursive;
  --font-body: 'Karla', sans-serif;

  --weight-normal: 400;
  --weight-bold: 600;
}

body {
  margin: 0;
}

a {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;

  background-color: var(--color-1);

  .logo {
    height: 30px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;

    font-family: var(--font-body);
    font-weight: var(--weight-normal);
    color: var(--color-light);

    .tab {
      display: inline-block;
      position: relative;

      line-height: 2;
    }

    .tab::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--color-light);

      transform: scaleX(0);
      transition: transform 0.25s ease-out;
      transform-origin: bottom center;
    }

    .tab:hover::after {
      transform: scaleX(1);
    }

    .tab.active::after {
        transform: scaleX(1);
    }
  }
}